html
  font-family sans-serif
  background rgba(240,250,230, 1)

ul
  margin 0
  padding 0

li
  list-style none

.wrapper
  max-width 75vw
  margin 0 auto
  // overflow-x hidden

.img_container
  height 25vh
  width 100%
  background-image url('../img/IMG_4003.jpg')
  background-position center
  background-size cover
