.snazzy
  opacity 0

.snazzy
  .snazzy
    animation-delay: 0.2s;

.snazzy
  .snazzy
    .snazzy
      animation-delay: 0.3s;

.snazzy
  .snazzy
    .snazzy
      .snazzy
        animation-delay: 0.4s;

.snazzy
  .snazzy
    .snazzy
      .snazzy
        .snazzy
          animation-delay: 0.5s;

.snazzy
  .snazzy
    .snazzy
      .snazzy
        .snazzy
          .snazzy
            animation-delay: 0.6s;

.snazzy_animation
  animation-duration 0.5s
  animation-timing-function ease-in-out
  animation-direction normal
  animation-fill-mode forwards

.snazzy_animation:nth-of-type(odd)
  animation-name snazzy_right

.snazzy_animation:nth-of-type(even)
  animation-name snazzy_left
  
.snazzy
  &.snazzy_animation
    &.snazzy_left, .snazzy_left
      animation-name snazzy_left
  &.snazzy_animation
    &.snazzy_right, .snazzy_right
      animation-name snazzy_right

@keyframes snazzy_left
    0%
      opacity 0
      transform translateX(3vw)
    100%
      opacity 1
      transform translateX(0)

@keyframes snazzy_right
    from
      opacity 0
      transform translateX(-3vw)
    to
      opacity 1
      transform translateX(0)
